* {
  accent:           #B0BAC6;
  background:       #111015ee;
  background-light: #B0BAC6;
  background-light-alpha: #d4dae011;
  background-focus: #111015;
  foreground:       #d4dae0;
  foreground-list:  #111015;
  on:               #44ad4d;
  off:              #e34039;
}
