* {
  accent:           #7B8281;
  background:       #0C1416ee;
  background-light: #7B8281;
  background-light-alpha: #cac4bd11;
  background-focus: #0C1416;
  foreground:       #cac4bd;
  foreground-list:  #0C1416;
  on:               #44ad4d;
  off:              #e34039;
}
