* {
  accent:           #887967;
  background:       #0c0c0aee;
  background-light: #887967;
  background-light-alpha: #d1c2aa11;
  background-focus: #0c0c0a;
  foreground:       #d1c2aa;
  foreground-list:  #0c0c0a;
  on:               #44ad4d;
  off:              #e34039;
}
