window.geary-main-window {
  background-color: rgba(40, 40, 40, 0.2);

  /* this does not work, because PHUCK */
  viewport.frame list.conversation-listbox > row {
    margin: 8px;
    padding: 5px;
  }

  .sidebar {
    background: none;
    //background-color: rgba(40, 40, 40, 0.2);
    padding: 3px;
  }

  treeview:selected {
    background: $primary-accent;
  }

  searchbar {
    background: $background-2;
  }

  .geary-sidebar-pane-separator {
    margin: -3px;
  }

  .geary-conversation-frame treeview {
    background: $background-1;
  }
  .geary-conversation-frame treeview:selected {
    color: $primary-accent;
  }

  .geary-expanded {
    margin: 20px;
  }
  separator {
    background-image: image(rgba(255, 255, 255, 0));
    background-size: 1px 1px;
    background-position: center center;
  }
}
