
// Special
$background: #121313;
$foreground: #e4c6c0;
$cursor: #e4c6c0;

// Colors
$color0: #121313;
$color1: #875B55;
$color2: #92635C;
$color3: #956D66;
$color4: #AC746A;
$color5: #C27D72;
$color6: #BF857A;
$color7: #e4c6c0;
$color8: #9f8a86;
$color9: #875B55;
$color10: #92635C;
$color11: #956D66;
$color12: #AC746A;
$color13: #C27D72;
$color14: #BF857A;
$color15: #e4c6c0;
$background-1: $background;
$background-2: $background;
$background-3: $background;

$accent-1: $color1;
$accent-2: $color2;
$accent-3: $color3;
$accent-4: $color4;
$accent-5: $color5;
$accent-6: $color6;
$accent-7: $color7;
$accent-8: $color8;

$primary-accent: $accent-6;
$secondary-accent: $accent-1;

$foreground-color: $foreground;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};

