
// Special
$background: #0c0c0a;
$foreground: #d1c2aa;
$cursor: #d1c2aa;

// Colors
$color0: #0c0c0a;
$color1: #68522A;
$color2: #524D49;
$color3: #675F58;
$color4: #746D67;
$color5: #8B6D39;
$color6: #887967;
$color7: #d1c2aa;
$color8: #928776;
$color9: #68522A;
$color10: #524D49;
$color11: #675F58;
$color12: #746D67;
$color13: #8B6D39;
$color14: #887967;
$color15: #d1c2aa;
$background-1: $background;
$background-2: $background;
$background-3: $background;

$accent-1: $color1;
$accent-2: $color2;
$accent-3: $color3;
$accent-4: $color4;
$accent-5: $color5;
$accent-6: $color6;
$accent-7: $color7;
$accent-8: $color8;

$primary-accent: $accent-6;
$secondary-accent: $accent-1;

$foreground-color: $foreground;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};

