
// Special
$background: #121a1b;
$foreground: #b3baba;
$cursor: #b3baba;

// Colors
$color0: #121a1b;
$color1: #3D6446;
$color2: #4C4F4F;
$color3: #616561;
$color4: #8C6D66;
$color5: #6F8A67;
$color6: #888D78;
$color7: #b3baba;
$color8: #7d8282;
$color9: #3D6446;
$color10: #4C4F4F;
$color11: #616561;
$color12: #8C6D66;
$color13: #6F8A67;
$color14: #888D78;
$color15: #b3baba;
$background-1: $background;
$background-2: $background;
$background-3: $background;

$accent-1: $color1;
$accent-2: $color2;
$accent-3: $color3;
$accent-4: $color4;
$accent-5: $color5;
$accent-6: $color6;
$accent-7: $color7;
$accent-8: $color8;

$primary-accent: $accent-6;
$secondary-accent: $accent-1;

$foreground-color: $foreground;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};

