configuration {
  show-icons:         false;
  icon-theme:         "Inverse-black";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    true;
  modi:               "drun";
  display-drun:       "apps";
}
