* {{
  accent:           {color6};
  background:       {background}aa;
  background-light: {color6};
  background-focus: {background};
  foreground:       {foreground};
  foreground-list:  {background};
  on:               #44ad4d;
  off:              #e34039;
}}
