* {{
  accent:           {color1};
  background:       {background}aa;
  background-light: {color7};
  background-focus: {color3};
  foreground:       {foreground};
  foreground-list:  {background};
  on:               #44ad4d;
  off:              #e34039;
}}
