:root {{
	--bg: {background};
	--bg-light: {background};
	--fg: {foreground};
	--acc1: {color6};
	--acc2: {color1};
	--acc3: {color3};
	--acc4: {color8};
}}

.entry {{
  color: var(--acc1);
}}

@font-face {{
  font-family: "Roboto";
}}

body {{
	background-color: var(--bg);
    font-family: Roboto,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15ch;
    min-width: 30px;
    padding: 3em;
}}

p {{
	margin: 10;
	pointer-events: none;
    color: var(--acc1);
}}

#clock{{
	float: right;
}}

html {{
	align-items: center;
	display: flex;
	height: 100%;
    justify-content: center;
}}

a {{
	color: var(--acc3);
	text-decoration: none;
	margin: 8px;
}}

.prompt {{
	color:  var(--fg);
}}

.purple {{
	color:  var(--acc1);
}}

a:focus,
a:hover {{
    font-weight: bold;
}}

ul {{
    list-style-type: none;
    margin: 0;
}}

nav {{
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
}}

input {{
	background-color: var(--bg);
	border: none;

	color: var(--fg);
}}

input:focus {{
    outline: none;
}}

li{{
    color: #ff0090;
    margin: 8px;
	outline:none;

}}
