* {
  accent:           #AB9888;
  background:       #121212cc;
  background-light: #AB9888;
  background-light-alpha: #d0c7c011;
  background-focus: #121212;
  foreground:       #d0c7c0;
  foreground-list:  #121212;
  on:               #44ad4d;
  off:              #e34039;
}
