* {
  accent:           #888D78;
  background:       #121a1bcc;
  background-light: #888D78;
  background-light-alpha: #b3baba11;
  background-focus: #121a1b;
  foreground:       #b3baba;
  foreground-list:  #121a1b;
  on:               #44ad4d;
  off:              #e34039;
}
